<!DOCTYPE html>
<html>
	<head>
		<title>Updation</title>
	</head>
	<body>
		<style>
			body 
			 {
    			background-color:mistyrose;
			 }
		</style>
		<center>
			<h1><p style="font-family:arial; color:indigo;">Here you can delete details from trip list</p></h1>
			<hr />
			<form action="http://localhost:5000\delete1" method="post">
				ID: <input type="text" name="id"/>
					<br>
					<br>
				<input type="submit" name="submit" value="submit" />
				<input type="reset" name="reset"  value="Reset" />
			</form>
		</center>
	</body>
</html>