<!DOCTYPE html>
<html>
	<head>
		<title>Main Page</title>
	</head>
	<body>
		<style>
			body 
			{
				background-color:mistyrose;
			}
		</style>
		<center>
			<h1><p style="font-family:arial; color:#FF1493;">Hello!</p></h1>
			<h1><p style="font-family:arial; color:#FF1493;">Welcome to my web page on TRIP.</p></h1>
			<hr /> 
			<h2> <p style="font-family:arial; color:indigo;">Operations on trip details: </p> </h2>
			<h3> <a href="/list.json"> <tt> >>>TRIP LIST in <big>"json"</big> format </tt> </a> </h3>
			<h3> <a href="/list"> <tt> >>>TRIP LIST </tt> </a> </h3>
			<h3> <a href="/create"> <tt> >>>Insert details into TRIP LIST </tt> </a> </h3>
			<h3> <a href="/update"> <tt> >>>Update details by ID </tt></a> </h3>
			<h3> <a href="/delete/"> <tt> >>>Delete ID from TRIP LIST </tt></a> </h3>
		</center>
	</body>
</html>