<!DOCTYPE html>
<html>
	<head>
	<title>Insertion</title>
		<style>
			body
			 {
    			background-color:mistyrose;
			font-family:arial;
			color:indigo;
			 }
		</style>
	</head>
	<body>
		<center>
			<h1><p>Here you can Insert new details for trip list</p></h1>
			<hr />
			<form action="http://localhost:5000\create1" method="post">
				Name      :  <input type="text" name="name"/>
				<br>
				<br>
				Latitude  :  <input type="text" name="latitude" />
				<br>
				<br>
				Longitude  :  <input  type="text" name="longitude" />
				<br>
				<br>
				<input type="submit" name="submit" value="Insert" />
				<input type="reset" name="reset"  value="Reset" />
			</form>
		</center>
	</body>
</html>
