<!DOCTYPE html>
<html>
    <head>
        <title>Updation</title>
        <style>
            body {
                background-color:mistyrose;
                font-family:arial;
                color:indigo;
                }
        </style>
    </head>
    <body>
        <center>
            <h1><p>Here you can Update details in trip list</p></h1>
            <hr />
            <p> 
            <select>
                <form action="http://localhost:5000\update1" method="post">
                    ID    :  <input type="text" name="Name"/>
                        <br>
                        <br>
                    <input type="submit" name="submit" value="Submit" />
                    <input type="reset" name="reset"  value="Reset" />
                </form>
             </select>
             </p>
         </center>
    </body>
</html>
